<div class="application-section clearfix" id="application"><!-- APPLICATION SECTION -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-head clearfix"><!-- SECTION HEAD -->
                    <h1>Application</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                    <span class="underline"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="section-content clearfix"><!-- SECTION CONTENT -->
                    <div class="application clearfix"><!-- APPLICATION -->

                        <ul class="nav nav-tabs"><!-- APPLICATION BUTTONS -->
                            <li class="active"><a href="#customize" data-toggle="tab"><i class="fa fa-gear"></i> Customize</a></li>
                            <li><a href="#profile" data-toggle="tab"><i class="fa fa-cloud"></i> Profile</a></li>
                            <li><a href="#features" data-toggle="tab"><i class="fa fa-refresh"></i> Features</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="customize">
                                <div class="col-md-6">
                                    <div class="application-thumbnail clearfix"><!-- APPLICATION THUMBNAIL -->
                                        <img src="http://placehold.it/390x500" alt="Thumbnail">
                                        <a href="#download" data-toggle="target" class="btn btn-primary btn-lg"><i class="fa fa-cloud-download"></i> Download</a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="application-content clearfix"><!-- APPLICATION CONTENT -->
                                        <h2>If you can't make it good, at least make it look good.</h2>
                                        <span class="underline"></span>
                                        <p>What's amazing is, if young people understood how doing well in school makes the rest of their life so much interesting, they would be more motivated. It's so far away in time that they can't appreciate what it means for their whole life. They would be more motivated. It's so far away in time.</p>
                                        <p>If young people understood how doing well in school makes the rest of their life so much interesting, they would be more.</p>
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6">
                                                <div class="application-features clearfix">
                                                    <ul>
                                                        <li><i class="fa fa-support"></i> 24/7 Support </li>
                                                        <li><i class="fa fa-cogs"></i> Easy to Customize</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <div class="application-features clearfix">
                                                    <ul>
                                                        <li><i class="fa fa-rocket"></i> Quick Install</li>
                                                        <li><i class="fa fa-magic"></i> Another Feature</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="profile">
                                <div class="col-md-6">
                                    <div class="application-content clearfix"><!-- APPLICATION CONTENT -->
                                        <h2>If you can't make it good, at least make it look good.</h2>
                                        <span class="underline"></span>
                                        <p>What's amazing is, if young people understood how doing well in school makes the rest of their life so much interesting, they would be more motivated. It's so far away in time that they can't appreciate what it means for their whole life. They would be more motivated. It's so far away in time.</p>
                                        <p>If young people understood how doing well in school makes the rest of their life so much interesting, they would be more.</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="application-thumbnail clearfix"><!-- APPLICATION THUMBNAIL -->
                                        <img src="http://placehold.it/390x500" alt="Thumbnail">
                                        <a href="#download" data-toggle="target" class="btn btn-primary btn-lg"><i class="fa fa-cloud-download"></i> Download</a>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="features">
                                <div class="col-md-6">
                                    <div class="application-thumbnail clearfix"><!-- APPLICATION THUMBNAIL -->
                                        <img src="http://placehold.it/390x500" alt="Thumbnail">
                                        <a href="#download" data-toggle="target" class="btn btn-primary btn-lg"><i class="fa fa-cloud-download"></i> Download</a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="application-content clearfix"><!-- APPLICATION CONTENT -->
                                        <h2>If you can't make it good, at least make it look good.</h2>
                                        <span class="underline"></span>
                                        <p>What's amazing is, if young people understood how doing well in school makes the rest of their life so much interesting, they would be more motivated. It's so far away in time that they can't appreciate what it means for their whole life. They would be more motivated. It's so far away in time.</p>
                                        <p>If young people understood how doing well in school makes the rest of their life so much interesting, they would be more.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- END APPLICATION SECTION -->