<div class="basket-section clearfix" id="basket"><!-- BASKET SECTION -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-head clearfix"><!-- SECTION HEAD -->
                    <h1>Basket</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                    <span class="underline"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="section-content clearfix"><!-- SECTION CONTENT -->
                    <div class="row">
                        <div class="col-md-8">
                            <div class="basket clearfix"><!-- BASKET -->
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th colspan="2">Product</th>
                                            <th>Quantity</th>
                                            <th>Unit price</th>
                                            <th>Discount</th>
                                            <th colspan="2">Total</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <a href="#calling-card-modal" data-toggle="modal"><img src="http://placehold.it/40x40" alt="Product Title"></a>
                                            </td>
                                            <td><a href="#calling-card-modal" data-toggle="modal">White Blouse Armani</a></td>
                                            <td>
                                                <input type="number" value="2" class="form-control">
                                            </td>
                                            <td>$75.00</td>
                                            <td>$0.00</td>
                                            <td>$150.00</td>
                                            <td><a href="#" class="growl-type" data-type="error" title="Removed from Cart" data-content="Calling card successfully removed from your cart."><i class="fa fa-trash-o"></i></a>
                                            </td>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                        <tr class="total">
                                            <td colspan="5">Total</td>
                                            <td colspan="2">$200.00</td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="account-type clearfix">
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="account"> I have an account
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="account"> I would like to create an account
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="account"> I would like to buy without creating account
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="clearfix">
                                            <a href="#calling_cards" data-toggle="target" class="btn btn-default"><i class="fa fa-chevron-left"></i> Back to Calling Cards</a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="text-right clearfix">
                                            <a href="checkout.html" class="btn btn-primary">Checkout <i class="fa fa-chevron-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="payment-methods-image clearfix">
                                            <img src="{{ asset("bundles/universalidt/home/img/payment-methods.png") }}" alt="Payment Methods">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="order-summary clearfix"><!-- ORDER SUMMARY -->
                                <div class="widget">
                                    <div class="widget-header">
                                        <h3><i class="fa fa-gift"></i> Order Summary</h3>
                                    </div>
                                    <div class="widget-content">
                                        <p>Shipping and additional costs are calculated based on the values you have entered.</p>
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <tbody>
                                                <tr>
                                                    <td>Order subtotal</td>
                                                    <td>$200.00</td>
                                                </tr>
                                                <tr>
                                                    <td>Tax</td>
                                                    <td>$0.00</td>
                                                </tr>
                                                <tr>
                                                    <td>Delivery Method</td>
                                                    <td>Email</td>
                                                </tr>
                                                </tbody>
                                                <tfoot>
                                                <tr class="total">
                                                    <td>Total</td>
                                                    <td>$200.00</td>
                                                </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- END BASKET SECTION -->