{% for product in products %}
    <div class="item"><!-- SINGLE CALLING CARD -->
        <div class="single-card clearfix">
            <a href="javascript:openDetails({{ product.id }})" title="{{ product.name }}">
                <img src="{{ asset(product.webPath) }}" alt="{{ product.id }}">
            </a>
        </div>
    </div>
{% endfor %}