<div class="download-section clearfix" id="download"><!-- DOWNLOAD SECTION -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-head clearfix"><!-- SECTION HEAD -->
                    <h1>Downloads</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                    <span class="underline"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="section-content clearfix"><!-- SECTION CONTENT -->
                    <div class="download-buttons clearfix"><!-- DOWNLOAD BUTTONS -->
                        <ul>
                            <li><a href="https://itunes.apple.com/ch/app/idt-universal/id966795510"><i class="fa fa-apple"></i> App Store</a></li>
                            <li><a href="https://play.google.com/store/apps/details?id=com.bossLite"><i class="fa fa-android"></i> Android Market</a></li>
                            <li><a href="{{ asset('bundles/universalidt/download/IDTUniversalSetup.10781.exe') }}"><i class="fa fa-windows"></i> Windows</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- END DOWNLOAD SECTION -->