<div class="slider-section clearfix" id="slider"><!-- SLIDER SECTION -->
    <div class="intro-slider owl-carousel owl-theme">
        <div class="item item-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="slider-text clearfix"><!-- SLIDER TEXT -->
                            <h2>Calling cards</h2>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            <div class="clearfix">
                                <a href="#calling_cards" data-toggle="target" class="btn btn-primary btn-lg"><i class="fa fa-align-left"></i> Discover</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="slider-thumb clearfix"><!-- SLIDER THUMBNAIL -->
                            <img src="https://placehold.it/250x350" alt="Thumbnail">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item item-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="slider-text clearfix"><!-- SLIDER TEXT -->
                            <h2>Applications</h2>
                            <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis.</p>
                            <div class="clearfix">
                                <a href="#application" data-toggle="target" class="btn btn-primary btn-lg"><i class="fa fa-align-left"></i> Discover</a>
                                <a href="#download" data-toggle="target" class="btn btn-primary btn-lg"><i class="fa fa-download"></i> Download</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="slider-thumb clearfix"><!-- SLIDER THUMBNAIL -->
                            <img src="https://placehold.it/250x350" alt="Thumbnail">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item item-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="slider-text clearfix"><!-- SLIDER TEXT -->
                            <h2>Call abroad &amp; Save money</h2>
                            <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="slider-thumb clearfix"><!-- SLIDER THUMBNAIL -->
                            <img src="https://placehold.it/250x350" alt="Thumbnail">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- END SLIDER SECTION -->