# This file is a "template" of what your parameters.yml file should look like
parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     universalidt
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       in.mailjet.com
    mailer_port:       587
    mailer_user:       039ab8ef3e3bf82b932424e66c4260f4
    mailer_password:   16e30577dbdba3579bf87c0b881285f3
    mailer_sender_address: i.soltani@hellobell.com
    mailer_support: msajadi824@hotmail.com
    mailer_sender_name: "IDT Universal Team"

    locale: en_US
    country: fr
    languages: {French: fr_FR, English: en_US, Italiano: it_IT}
    currencies: [EUR, CHF, PLN, SEK, DKK, NOK, GBP]

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    Ogone:
        pspid: hellodi
        sha_in: 'MySha-In@key765?'
        sha_out: 'MySha-ouT@Key79?'
        submit_url: 'https://secure.ogone.com/ncol/test/orderstandard_utf8.asp'

    IDT:
        username: "HellobellTEST1"
        password: "Humbug15ay"
        api_location: "https://app1.idt.net/debit/partner/partnerAPI.asp"

    Sofort:
        project_id: 222894
        submit_url: "https://api.sofort.com/xml"
        conf_key:   "102878:222894:bb2a772b476944424773467dbfb9d9e7"