# This file is a "template" of what your parameters.yml file should look like
parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     universalidt
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale: en_US
    languages: [fr_FR, en_US, it_IT]
    currencies: [EUR, CHF, PLN, SEK, DKK, NOK, GBP]

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    Ogone:
        pspid: hellodi
        sha_in: 'MySha-In@key765?'
        sha_out: 'MySha-ouT@Key79?'
        submit_url: 'https://secure.ogone.com/ncol/test/orderstandard_utf8.asp'

    IDT:
        username: "HellobellTEST1"
        password: "Humbug15ay"
        api_location: "https://app1.idt.net/debit/partner/partnerAPI.asp"
