{% extends "@UniversalIDT/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block subtitle %}
    {{ 'registration.check_email'|trans({},'website') }}
{% endblock subtitle %}

{% block content %}
    <div class="alert alert-warning"><!-- ALERT -->
        {{ 'registration.check_email'|trans({'%email%': user.email}) }}
    </div>
{% endblock %}