{% extends "@UniversalIDT/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block subtitle %}
    Registeration Confirmed
{% endblock subtitle %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="widget stacked">

            <div class="widget-content">
                <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
                {% if app.session is not empty %}
                    {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
                    {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>{% endif %}
                {% endif %}
            </div>
            <!-- /widget-content -->

        </div>
        <!-- /widget -->
    </div>
</div>
{% endblock %}