{% extends "::base.html.twig" %}

{% block title %}UniversalIDTBundle:User:billingHistory{% endblock %}

{% block body %}
    <h1>Welcome to the User:billingHistory page</h1>

    <table border="1">
        <thead>
        <tr>
            <th>Date, Time</th>
            <th>Description</th>
            <th>Status</th>
            <th>Amount</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.date|date('Y-m-d H:i:s') }}</td>
                <td></td>
                <td></td>
                <td>{{ order.amount }} ({{ order.currency|upper }})</td>
                <td><a href="{{ path('user_order_details', {'id':order.id}) }}">details</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No Data</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
