{% set breadcrumbs = ['Home', 'My Account', 'Profile Settings'] %}
<div class="collapse breadcrumbs_collapse">
<ul class="breadcrumb">
    {% for item in breadcrumbs %}
        {% if not loop.last %}
            <li>
                <a href="{{ item }}">{{ item }}</a>
            </li>
        {% else %}
            <li class="active">{{ item }}</li>
        {% endif %}
    {% endfor %}
</ul>
</div>