<div class="row">
    <div class="col-md-3">
        <h4>About</h4>
        <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Google+</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h4>Support</h4>
        <ul>
            <li><a href="#">Frequently Asked Questions</a></li>
            <li><a href="#">Ask a Question</a></li>
            <li><a href="#">Video Tutorial</a></li>
            <li><a href="#">Feedback</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h4>Legal</h4>
        <ul>
            <li><a href="#">License</a></li>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Security</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h4>Settings</h4>
        <ul>
            <li><a href="#">Consectetur adipisicing</a></li>
            <li><a href="#">Eiusmod tempor </a></li>
            <li><a href="#">Fugiat nulla pariatur</a></li>
            <li><a href="#">Officia deserunt</a></li>
        </ul>
    </div>
</div>