<a href="javascript:;" class="subnav-toggle" data-toggle="collapse" data-target=".subnav-collapse">
    <span class="sr-only">Toggle navigation</span>
    <i class="icon-reorder"></i>

</a>

<div class="collapse subnav-collapse">
    {{ knp_menu_render('UniversalIDTBundle:Builder:mainMenu', {'currentClass': 'active', 'template': 'UniversalIDTBundle:Menu:my_knp_menu.html.twig'}) }}
</div> <!-- /.subnav-collapse -->