{% extends "::base.html.twig" %}

{% block title %}UniversalIDTBundle:user:notifications{% endblock %}

{% block body %}
    <h1>Welcome to the user:notifications page</h1>

    {{ form(form) }}


{% endblock %}
