{% extends "::base.html.twig" %}

{% block title %}UniversalIDTBundle:Checkout:MyCart{% endblock %}

{% block body %}
    <h1>Welcome to the Checkout:Basket page</h1>

    <a href="#" onclick="cookieClear();updateCounts();updateBasketTable()">Clear Basket</a><br/>

    <table border="1">
        <thead>
        <tr>
            <th colspan="5">Cards</th>
        </tr>
        <tr>
            <th>Item</th>
            <th>Qty</th>
            <th>Denom.</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody id="cookie_buy"></tbody>
    </table>

    <table border="1">
        <thead>
        <tr>
            <th colspan="6">Charges</th>
        </tr>
        <tr>
            <th>Item</th>
            <th>Pin</th>
            <th>Qty</th>
            <th>Denom.</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody id="cookie_recharge"></tbody>
    </table>

    {{ form(form) }}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        function updateBasketTable() {
            $("#cookie_buy").html("");
            $("#cookie_recharge").html("");
            for (var product in selected_products) {
                if(selected_products[product]['type'] == "buy")
                    $("#cookie_buy").append("<tr>" +
                            "<td>"+selected_products[product]['product']+"</td>" +
                            "<td>"+selected_products[product]['count']+"</td>" +
                            "<td>"+selected_products[product]['denomination']+"</td>" +
                            "<td>"+"remove"+"</td>" +
                    "</tr>");
                else
                    $("#cookie_recharge").append("<tr>" +
                            "<td>"+selected_products[product]['product']+"</td>" +
                            "<td>"+"</td>" +
                            "<td>"+selected_products[product]['count']+"</td>" +
                            "<td>"+selected_products[product]['denomination']+"</td>" +
                            "<td>"+"remove"+"</td>" +
                    "</tr>");
            }
        }

        $(document).ready(function(){
            updateBasketTable();
        });
    </script>
{% endblock %}