{% extends "::base.html.twig" %}

{% block title %}UniversalIDTBundle:Guest:main{% endblock %}

{% block body %}
<h1>Welcome to the Universal IDT</h1>

    <a href="{{ path('sylius_cart_item_add', {'productId': 1, '_redirect_to': path('guest_main')}) }}">Add product to cart</a>
{% endblock %}
