<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>IDT.Payment confirmation</title>
</head>
<body>

    <div style="margin: 0 20px; border: 1px solid black; border-radius: 5px; padding: 5px">
        <div style="font-weight: bolder;background-color: #a9b7d1; padding: 5px">
            IDT
        </div>
        $$$PAYMENT ZONE$$$
    </div>
</body>
</html>