<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ 'checkout.template.title'|trans({},'application') }}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/universalidt/img/favicon.ico',null,true) }}" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <style type="text/css" >
        img{
            max-width: 100%;
            height: auto;
        }
        a{
            color: #F7C514;
        }
        body{
            height: 100%;
            width: 100%;
            padding: 0;
            margin: 0;
            display: block;
            background: #ffffff;
            font-size: 14px;
            line-height: 20px;
            color: rgb(51, 51, 51);
            font-family: 'Open Sans', sans-serif;
        }
        .content{
            padding: 15px;
        }
        body .navbar-fixed-top {
            margin: 0;
            position: relative;
            right: 0;
            left: 0;
            z-index: 1030;
            overflow: visible;
        }
        body .navbar .navbar-inner {
            background-color: #eeeeee;
            z-index: 1000;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            height: 20px;
            filter: none;
            display: block;
            border: 0 solid #ddd;
            border-bottom-width: 1px;
            margin-bottom: 0;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            padding: 11px 0;
        }
        .navbar .container {
            position: relative;
            width: auto;
            margin-right: auto;
            margin-left: auto;
            padding: 0 10px;
            display: block;
            height: 100%;
        }
        .navbar .container .brand,
        .brand {
            font-size: 20px;
            font-weight: normal;
            color: #282828;
            text-decoration: none;
            font-family: 'Open Sans', sans-serif;
            position: relative;
            float: left;
            display: block;
            margin-left: 5px;
            text-align: center;
            text-shadow: none;
        }
        .navbar .container .brand > span, .brand > span {
            padding: 5px;
            color: rgb(25, 117, 180);
        }
        .account-container.stacked {
            display: block;
            padding: 0;
        }
        .stacked {
            position: relative;
            padding: 5px;
        }
        .body_main {
            width:700px;
            margin: 60px auto 30px;
            background: #FFFFFF;
            padding-bottom: 0;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            border: 1px solid #ddd;
        }
        .body_main h1 {
            font-family: 'Open Sans', sans-serif;
            font-weight: normal;
            font-size: 24px;
            color: #282828;
            background: #FFFFFF;
            display: block;
            text-align: center;
            padding: 0 0 15px 0;
            -webkit-border-radius: 5px 5px 0 0;
            -moz-border-radius: 5px 5px 0 0;
            border-radius: 5px 5px 0 0;
            border-bottom: 1px solid #EEEEEE;
            margin: 15px 30px 30px 30px;
        }
        body table.ncoltable1{
            margin-top:10px;
            padding-bottom:10px;
            font-size:20px;
            width:100%;
            border-bottom:solid thin #ccc;
        }
        body table.ncoltable1 tr td:first-child{
            width:300px;
            display:inline-block;
        }
        body table.ncoltable1 tr td:last-child{
            font-weight:bold;
            text-align:left;
            display:inline-block;
        }
        body table.ncoltable1 tr td{
            padding: 7px;
        }
        body .ncoltable2{
            min-width:100%;
            display:block
        }
        body .ncoltable2 tbody , body .ncoltable2 tr{
            width:100%;
            display:block;
        }
        body .ncoltable2 tr{
            margin-bottom:10px;
        }
        body .ncoltable2 tr td{
            padding:5px;
            vertical-align: middle;
        }
        body .ncoltable2 tr td:first-child{
            min-width:300px;
        }
        body .ncoltable2 tr:nth-child(9){
            margin-top:20px;
            margin-bottom:20px;
        }
        body .ncoltable2 tr:nth-child(9) td:first-child{
            min-width:700px;
        }
        body .ncoltable2 tr:nth-child(9) td > small{
            font-size:20px;
            padding:5px;
            /*background:#e3e5fa;*/
            border:solid thin #e3e5fa ;
            display:inline-block;
            width:80%;
            margin:0 auto ;
            border-radius:5px;
            color : #F7C514;
        }
        body .ncoltable2 input,
        body .ncoltable2 select{
            display: inline-block;
            margin-bottom: 0;
            vertical-align: middle;
            background-color: #FFFFFF;
            border: 1px solid #cccccc;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
            transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
            -webkit-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
            height: 30px;
            padding: 4px 6px;
            font-size: 14px;
            line-height: 20px;
            color: rgb(85, 85, 85);
            border-radius: 4px 4px 4px 4px;
            width: 210px;
        }
        body .ncoltable2 select{
            width: 100px;
        }
        body .ncoltable2 input:active,
        body .ncoltable2 input:focus,
        body .ncoltable2 select:active,
        body .ncoltable2 select:focus{
            border-color: #F7C514;
            outline: 0 none;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075),0 0 8px rgba(247, 197, 20, .6);
            -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075),0 0 8px rgba(247, 197, 20, .6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075),0 0 8px rgba(247, 197, 20, .6);
        }
        body .ncoltable2 tr input[type="submit"]{
            color: #fff;
            text-shadow: none;
            background: #F7C514;
            border-color: #F7C514;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            cursor:pointer;
            width:auto;
            height:auto;
            padding: 12px 20px;
            font-size:16px;
            -webkit-border-radius:4px;
            -moz-border-radius:4px;
            border-radius:4px
        -webkit-transition: none;
            -moz-transition: none;
            transition: none;
        }
        body .ncoltable2 tr input[type="submit"]:focus,
        body .ncoltable2 tr input[type="submit"]:hover{
            color: #fff;
            background: #f3bf09;
            text-decoration:none;
            -webkit-box-shadow:none;
            -moz-box-shadow:none;
            box-shadow:none;
        }
        body .ncoltable2 tr input[type="submit"]:active{
            outline: none;
            background: #f3bf09;
            -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
            -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
            box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        }
        body .ncoltable3{
            display:block;
            width:100%;
        }
        .content > table{
            display:block;
        }
        .content > table > tbody,
        .content > table > tbody > tr{
            display:block;
        }
        .content > table > tbody > tr > td{
            max-width:100%;
        }
        .content > h2{
            border-bottom: 2px solid rgb(251, 147, 55);
            padding: 10px 0;
            display: block;
            vertical-align: baseline;
            background: none repeat scroll 0 0 transparent;
            margin: 10px 10px 0;
            text-align:center;
        }
        .content > table.ncoltable1{
            margin-top:0;
            border:none;
            padding-bottom:0;
        }
        .content > table.ncoltable1:nth-child(4){
            margin-top:10px;
        }
        .content > table.ncoltable1:nth-child(7){
            margin-top:0;
            border:none;
            width:100%;
            padding-bottom:0;
        }
        .content > table.ncoltable1:nth-child(7) td,
        .content > table.ncoltable1:nth-child(7) tr,
        .content > table.ncoltable1:nth-child(7) tbody{
            min-width:100%;
            display:block;
        }
        .content > table.ncoltable1:nth-child(7) td h3{
            font-size:20px;
            padding:5px;
            /*background:#e3e5fa;*/
            border:solid thin #e3e5fa ;
            display:block;
            width:90%;
            text-align:center;
            margin:0 auto ;
            border-radius:5px;
            color : #2834d8;
        }
        .content > table.ncoltable1:nth-child(7) td b{
            font-weight:normal ;
            padding: 7px;
            width:300px;
            display:inline-block;
            text-align:right;
        }
        .content > table.ncoltable1:nth-child(11){
            margin-top : 0 ;
            border:none;
            padding-bottom:0;
        }
        .content > table.ncoltable1:nth-child(11) tr,
        .content > table.ncoltable1:nth-child(11) tbody{
            min-width:100%;
            display:block;
        }
        .content > table.ncoltable1:nth-child(11) td{
            min-width:80%;
            display:block;
            margin:0 auto;
            text-align:center;
        }
        .content > table.ncoltable1:nth-child(11) td small{
            text-align:left;
        }
        .content > table.ncoltable1:nth-child(11) td input[type="button"]{
            color:#fff;
            text-shadow:0 -1px 0 rgba(0,0,0,0.25);
            background-color:#006dcc;
            *background-color:#04c;
            background-image:-moz-linear-gradient(top,#08c,#04c);
            background-image:-webkit-gradient(linear,0 0,0 100%,from(#08c),to(#04c));
            background-image:-webkit-linear-gradient(top,#08c,#04c);
            background-image:-o-linear-gradient(top,#08c,#04c);
            background-image:linear-gradient(to bottom,#08c,#04c);
            background-repeat:repeat-x;
            border-color:#04c #04c #002a80;
            border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc',endColorstr='#ff0044cc',GradientType=0);
            filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
            cursor:pointer;
            width:auto;
            height:auto;
            padding:11px 9px;
            font-size:18px;
            -webkit-border-radius:6px;
            -moz-border-radius:6px;
            border-radius:6px;
        }
        .content > table.ncoltable1:nth-child(11) td input[type="button"]:hover{
            color:#fff;
            text-decoration:none;
            background: #003bb3 0 -15px;
            -webkit-transition:background-position .1s linear;
            -moz-transition:background-position .1s linear;
            -o-transition:background-position .1s linear;
            transition:background-position .1s linear
        box-shadow:none;
        }
        .content > table.ncoltable1:nth-child(11) td input[type="button"]:active{
            outline:thin dotted #333;
            outline:5px auto -webkit-focus-ring-color;
            outline-offset:-2px;
            background-color:#039;
            box-shadow:0 2px 7px #192296 inset;
        }
        .content >  table.ncoltable3{
            border-top:#ccc solid thin ;
            width:101%;
        }
        .content > table.ncoltable3 tr,
        .content > table.ncoltable3 tbody{
            min-width:100%;
            display:block;
        }
        .content > table.ncoltable3 tr:last-child td:first-child{
            width:30%;
            padding-bottom:30px;
        }
        .content > table.ncoltable3 input[type="button"]{
            display:inline-block;
            *display:inline;
            padding:4px 12px;
            margin-bottom:0;
            *margin-left:.3em;
            font-size:14px;
            line-height:20px;
            color:#333;
            text-align:center;
            text-shadow:0 1px 1px rgba(255,255,255,0.75);
            vertical-align:middle;
            cursor:pointer;
            background-color:#f5f5f5;
            *background-color:#e6e6e6;
            background-image:-moz-linear-gradient(top,#fff,#e6e6e6);
            background-image:-webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
            background-image:-webkit-linear-gradient(top,#fff,#e6e6e6);
            background-image:-o-linear-gradient(top,#fff,#e6e6e6);
            background-image:linear-gradient(to bottom,#fff,#e6e6e6);
            background-repeat:repeat-x;
            border:1px solid #ccc;
            *border:0;
            border-color:#e6e6e6 #e6e6e6 #bfbfbf;
            border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
            border-bottom-color:#b3b3b3;
            -webkit-border-radius:4px;
            -moz-border-radius:4px;
            border-radius:4px;
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
            filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
            *zoom:1;
            -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
            -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
            box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
            margin-top:10px;
        }
        .content > table.ncoltable3 input[type="button"]:hover{
            color:#333;
            text-decoration:none;
            background: #d9d9d9 0 -15px;
            -webkit-transition:background-position .1s linear;
            -moz-transition:background-position .1s linear;
            -o-transition:background-position .1s linear;
            transition:background-position .1s linear;
        }
        .content > table.ncoltable3 input[type="button"]:active{
            background-color:#ccc;
            outline:0;
            -webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
            -moz-box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
            box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
        }
        @media only screen and (max-width: 690px) {
            .body_main h1 {
                margin: 15px;
            }
            .body_main {
                width: 95%;
            }
            body table.ncoltable1 tr td:first-child {
                width: 40%;
            }
            body .ncoltable2 tr td:first-child {
                min-width: 200px;
            }
            body .ncoltable2 tr:nth-child(9) td:first-child {
                min-width: 100%;
            }
        }

        @media only screen and (max-width: 500px) {
            .body_main h1 {
                margin: 15px;
            }
            body table.ncoltable1 {
                margin-top: 5px;
                padding-bottom: 5px;
                font-size: 16px;
            }
            body .ncoltable2 tr td:first-child {
                text-align:left;
                display: block;
                margin-left:10px;
            }
            body .ncoltable2 tr td:last-child {
                min-width:90%;
                display:block;
                margin-left:5%;
            }
            body .ncoltable2 input,
            body .ncoltable2 select {
                width:100%;
            }
            body .ncoltable2 select {
                width: 30%;
            }
            body .ncoltable2 tr:nth-child(9) td:first-child {
                margin-left:10px;
                min-width: 80%;
            }
            body .ncoltable2 tr:nth-child(9) td > small {
                font-size: 17px;
                text-align: center;
            }
            body .ncoltable2 tr td:last-child {
                margin-left:0;
            }
            body .ncoltable2 tr td:last-child small {
                display:block;
            }
            body .ncoltable2 tr input[type="submit"] {
                width:100%;
            }
            body .ncoltable3 tbody,
            body .ncoltable3 tr{
                width:100%;
                display:block;
            }
            body .ncoltable3 td {
                min-width:90%;
                display:block;
                margin:0 auto ;
            }
            .content > table > tbody > tr > td{
                display:block;
            }
            .content > table > tbody > tr > td > div:nth-child(1){
                margin-left:0;
            }
            body table.ncoltable1 tr td:first-child {
                width:35%;
            }
            .content >  table.ncoltable1:nth-child(7){
                display:block;
            }
            .content >  table.ncoltable1:nth-child(7) td h3{
                margin:1px;
            }
            .content >  table.ncoltable1:nth-child(7) td b{
                padding-left:3px;
                width:150px;
            }
        }
    </style>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" id="brand" href="#">{{ 'checkout.template.title'|trans({},'application') }}</a>
        </div>
    </div>
</div>
<div class="account-container stacked">
    <div class="body_main">
        <h1>{{ 'checkout.template.subtitle'|trans({},'application') }}</h1>
        <div class="content clearfix">
            $$$PAYMENT ZONE$$$
        </div>
    </div>
</div>
</body>
</html>