{% extends "@UniversalIDT/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block subtitle %}
    {{ 'reset_request.check_email'|trans({},'website') }}
{% endblock subtitle %}

{% block content %}
    <div class="alert alert-warning"><!-- ALERT -->
        {{ 'resetting.check_email'|trans({'%email%': email}) }}
    </div>
{% endblock %}