{% extends "@UniversalIDT/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block subtitle %}
    Check Email
{% endblock subtitle %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="widget stacked">

            <div class="widget-content">
                {{ 'resetting.check_email'|trans({'%email%': email}) }}
            </div>
            <!-- /widget-content -->

        </div>
        <!-- /widget -->
    </div>
</div>
{% endblock %}