{% extends "@UniversalIDT/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block subtitle %}
    {{ 'reset_request.password_already_requested'|trans({},'website') }}
{% endblock subtitle %}

{% block content %}
    <div class="alert alert-danger"><!-- ALERT -->
        {{ 'resetting.password_already_requested'|trans }}
    </div>
{% endblock %}