{% extends '@UniversalIDT/WebPage/layout.html.twig' %}

{% block title %}Universal IDT | Checkout Result{% endblock %}

{% block content %}
    <div class="checkout-section clearfix" id="checkout">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-content clearfix">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="payment-status clearfix"><!-- PAYMENT STATUS -->
                                    <h4>Payment Status: <span class="{{ status == 'S' ? 'success' : 'failed' }}">{{ status == 'S' ? 'Success' : 'Failed' }}</span></h4>
                                    <div class="text-center clearfix">
                                        <p>{{ result|raw }}</p>
                                        <a href="{{ path('WebPage_main') }}" class="btn btn-primary btn-lg"><i class="fa fa-home"></i> Back to Home</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}