{% extends "::base.html.twig" %}

{% block title %}UniversalIDTBundle:Checkout:Result{% endblock %}

{% block body %}
    <h1>Welcome to the Checkout:Result page</h1>

    <div style="text-align: center">
        {{ result }}
    </div>
{% endblock %}