{% block subject %}{{ 'emails.title.email_confirmation'|trans({},'application') }}{% endblock %}

{% block body %}
    {{ 'emails.hello'|trans({'%first_name%':user.firstName},'application') }}
    <br /><br />
    {{ ('emails.confirm_url'|trans({'%url%':'<a href="'~ confirmationUrl ~'">'~ ('emails.confirm_url_link'|trans({},'application')) ~'</a>'},'application'))|raw }}
    <br /><br />
    {{ 'emails.greetings'|trans({},'application')|raw }}
{% endblock %}