{% block subject %}Email Confirmation{% endblock %}

{% block body_text %}
    {% autoescape false %}
    Hello {{ user.username }} !

    Please confirm your email by accessing <a href="{{ confirmationUrl }}">here</a>

    Greetings,
    the IDT Universal Team
    {% endautoescape %}
{% endblock %}