{% block subject %}Email Confirmation{% endblock %}

{% block body %}
    {% autoescape false %}
    Hello {{ user.firstName }} !

    Please confirm your email by accessing <a href="{{ confirmationUrl }}">here</a>

    Greetings,
    the IDT Universal Team
    {% endautoescape %}
{% endblock %}