{% block subject %}Email Confirmation{% endblock %}

{% block body_text %}
    {% autoescape false %}
    Hello {{ user.firstName }} !

    Please confirm your email by accessing <a href="{{ confirmationUrl }}">here</a>

    Greetings,
    the IDT Universal Team
    {% endautoescape %}
{% endblock body_text %}

{% block body_html %}
    Hello {{ user.firstName }} !

    Please confirm your email by accessing <a href="{{ confirmationUrl }}">here</a>

    Greetings,
    the IDT Universal Team
{% endblock body_html %}