{% block subject %}Resetting your password{% endblock %}

{% block body %}
    {% autoescape false %}
    Hello {{ user.firstName }} !

    You can reset your email by accessing <a href="{{ confirmationUrl }}">here</a>

    Greetings,
    the IDT Universal Team
    {% endautoescape %}
{% endblock %}